body
{
    padding:0px;
    margin:0px;
}

#searchbar
{
    width:100%;
    height:15%;
    background-color: aquamarine;
    position: relative;
}


#ecommerceimg
{
    position: relative;
    width:20%;
    height:80%;
    margin:10px;
}

#searchimg
{
    position: relative;
    width:3%;
    height:40%;
    left: 4.7%;
    top:-45%;
    border-radius: 10px;
}

#cartimg
{
    position: relative;
    width:10%;
    height:80%;
    margin:10px;
    float: right;
}

#search
{
    width:30%;
    height:40%;
    position: relative;
    left:5%;
    top:-60%;
    border-radius: 10px;
}

#search:hover
{
    background-color: silver;
}

#search:focus
{
    background-color: silver;
}

#dress img
{
    position: relative;
    float: left;
    transition: transform .2s;
    height:300px;
}

#dress div
{
    border-bottom: 1px solid red;
    padding:8% 5% 13% 20%;
    position: relative;
}

#dress img:hover
{
    transform: scale(1.5);
}

#dress p
{
    position: relative;
    text-align: center;
    
}
